{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class='container mt-3'>
    <h5 class="card-title">Congratulations you have guessed the word</h5>
    {% if survival %}
    <p class="card-text">Your current score is {{ score }}, would you like to <a href="{{url_for('play_page')}}">
            continue</a> or
        <a href="/game-over?outcome=submit">submit score</a>
    </p>
    {% else %}
    <p>Would you like to <a href="{{ url_for('play_page') }}">play again</a> </p>
    {% endif %}
</div>
{% endblock %}