{% extends 'base.html' %}

{% block title %}
Play
{% endblock %}

{% block content %}
<style>
    .display-word {
        letter-spacing: 5px;
        word-spacing: 10px;
    }


    .letter:hover {
        cursor: pointer;
        color: grey;
    }

    .letter-used {
        color: #adb5bd;
    }

    .letter-used:hover {
        cursor: not-allowed;
    }

    #SurvivalModeExplain:hover {
        cursor: pointer;
    }
</style>
<div class="container game-container">


    <div class="row mt-3">
        <!-- <div class="col-auto">
            <select class="form-select" id="exampleSelect1">
                <option value="animals.txt">animals</option>
                <option value="countries.txt">countries</option>
                <option value="foods.txt">food</option>
                <option value="sports.txt">sport</option>
                <option value="space.txt">space</option>
            </select>
        </div> -->

        <!-- TODO: "Refactor this" -->
        {% if score %}

        <div class="cw-container d-none">
            <p>Change Wordlist </p>
            <i class="wordlist-icon fa-solid fa-file-word"></i>
        </div>

        {% else %}

        <div class="cw-container">
            <p>Change Wordlist </p>
            <i class="wordlist-icon fa-solid fa-file-word"></i>
        </div>

        {% endif %}


    </div>

    <p>Selected word list: <span class="show-wordlist">{{wordlist}}</span></p>


    <div class="form-check form-switch">
        <label class="form-check-label"><a class="link" id="SurvivalModeExplain">Survival Mode</a></label>
        <input class="form-check-input trigger-survival" type="checkbox" id="SurvivalModeSwitch" {% if survival %}
            checked {% endif %}>
    </div>

    <p class="score {% if survival %} '' {% else %} d-none {% endif %}">Score: {{ score }}</p>





    <h2 class='display-word'>{{board}}</h2>

    <p class='mt-5'>What letter would you like to try?</p>

    <div class="container text-center">
        <div class="row align-items-start">
            {% for letter in letters_list %}
            <div class="col letter" id={{letter}}>
                {{letter}}
            </div>
            {% endfor %}

            <div class="row mt-4 no-gutters lives">
                <div class='col-auto'>
                    <p>Lives: </p>
                </div>
                {% for _ in range(lives) %}
                <div class="col-auto p-0">
                    ❤️
                </div>
                {% endfor %}


            </div>
        </div>
    </div>


</div>

<div class="search-box d-none">
    <div class="row_">
        <input type="text" id="search-wordlist" placeholder="Search wordlist" autocomplete="off">
        <button class="btn-wordlist-search"><i class="search-icon fa-solid fa-xmark"></i></button>
    </div>

    <div class="result-box">
        <!-- <ul>
                <li>JavaScript <span>featured</span></li>
                <li>Cock</li>
            </ul> -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/game_logic.js') }}"></script>
<script src="{{ url_for('static', filename='js/survival.js') }}"></script>
<script src="{{ url_for('static', filename='js/auto-complete.js') }}"></script>
{% endblock %}